<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>owpSF82015</display-name>
  <welcome-file-list>
    <welcome-file>InitServlet</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InitServlet</display-name>
    <servlet-name>InitServlet</servlet-name>
    <servlet-class>servlet.InitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitServlet</servlet-name>
    <url-pattern>/InitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MovieServlet</display-name>
    <servlet-name>MovieServlet</servlet-name>
    <servlet-class>servlet.MovieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieServlet</servlet-name>
    <url-pattern>/MovieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MovieListServlet</display-name>
    <servlet-name>MovieListServlet</servlet-name>
    <servlet-class>servlet.MovieListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieListServlet</servlet-name>
    <url-pattern>/MovieListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjectionListServlet</display-name>
    <servlet-name>ProjectionListServlet</servlet-name>
    <servlet-class>servlet.ProjectionListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectionListServlet</servlet-name>
    <url-pattern>/ProjectionListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjectionServlet</display-name>
    <servlet-name>ProjectionServlet</servlet-name>
    <servlet-class>servlet.ProjectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectionServlet</servlet-name>
    <url-pattern>/ProjectionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TicketServlet</display-name>
    <servlet-name>TicketServlet</servlet-name>
    <servlet-class>servlet.TicketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TicketServlet</servlet-name>
    <url-pattern>/TicketServlet</url-pattern>
  </servlet-mapping>
</web-app>